
.data-collect-icon-data {
	font-size: 1.035rem;

	a {
		&, &:focus, &:link, &:visited, &:hover, &:active {
			color: black;
			text-decoration: none;
			outline: none;
		}
		&:hover, &:active, &:focus {
			@media only screen {
				color: $primary-color;
				text-decoration: underline;
			}
		}

		@media print {
			&:after {
				content: " ("attr(href)")";
			}
			&.no-decorate:after {
				content: none;
			}
		}

	}
}

